[submodule "deal_or_no_deal"]
	path = deal_or_no_deal
	url = https://github.com/bobby-saul/deal_or_no_deal.git
[submodule "snake"]
	path = snake
	url = https://github.com/bobby-saul/snake.git
[submodule "concordance"]
	path = concordance
	url = https://github.com/bobby-saul/concordance.git
[submodule "football"]
	path = football
	url = https://github.com/bobby-saul/football.git
